global:
  resolve_timeout: 5m

route:
  receiver: 'slack'
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h

receivers:
  - name: 'slack'
    webhook_configs:
      - url: '${ALERTMANAGER_SLACK_WEBHOOK_URL}'

inhibit_rules: []
